body {
	background: url("../images/congruent_pentagon.png");
}

h1.headerText {
	text-align: center;
}

.questions,
.results {
	background-color: deepskyblue;
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

#timeRemaining, #results {
	font-weight: bold;
}